$A4-width: 595px;
$A4-height: 842px;

/*colors*/
$primary: #4dd0e1;
$primary-dark: #009faf;
$pastelblue: #A9BCD0;
$shadowblue: #748CAB;
$charcoal: #373F51;
$eerie: #1B1B1E;
$glitter: #E9EBF8;

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaLT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #c2c2c2; 
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: #fafafa; 
  padding: 0;
  display: flex;
  padding: 10px;

  @mixin button($color) {
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: #4b636e;
  }
  
  .add, .remove {
    @include button(#ef5350);
  }
  .add:hover, .remove:hover {
    background-color: #ff867c
  }

  .company-select, .download {
    @include button(#fafafa);
    width: 150px;
    border: 1px solid #ff867c;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }
}

.wrapper {
  width: $A4-width;
  margin: 2% auto 0;
  font-family: 'Futura';
  padding: 20px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  li {
    list-style-type: none;
  }

  .logo {
    min-width: 120px;
    min-height: 120px;
  }

  .basic-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
  }
}

  input {
    border: 0;
  }

  @mixin genericCol {
    width: 200px;
  }

  @mixin genericRow {
    display: flex;
    justify-content: space-between;
  }

  .row {
    @include genericRow;
  }

  .row-editable {
    @include genericRow;
  }

  .row-title {
    @include genericRow;
    background-color: #ccc;
    padding: 5px;
  }

  .col {
    @include genericCol;
    text-align: left;
    padding: 5px 0;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: none;
    text-align: justify;
    font-family: 'Futura'
  }

  .title {
    @include genericCol;
    text-align: left;
  }

  .value-title, .value, {
    @include genericCol;
    text-align: right;
    width: 80px;
    
    input {
      text-align: right;
    }
  }

  .client {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

  .client-name {
    width: 300px;
    text-align: left;
  }

  .reference, .dates {
    display: flex;
    flex-direction: column;
  }
}
